:root {
  --font-heading: "Oswald", sans-serif;
  --font-primary: "Poppins", sans-serif;
  --dark-primary: #064635;
  --light-primary: #519259;
  --dark-secondary: #f0bb62;
  --light-secondary: #f4eea9;
}
*,
::before,
::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  height: 100%;
}

p {
  text-align: center;
  margin: 1rem;
}

img {
  width: 100%;
}

h5 {
  margin: 0;
  margin-bottom: 1.5rem;
}

h5:last-of-type {
  margin-bottom: 0;
}

section {
  max-width: 600px;
  margin: auto;
}

/* ------ ADDS SCROLLING GRADIENT BACKGROUND EFFECT ------- */
/* body {
  background: linear-gradient(
    to bottom,
    var(--light-primary),
    #14dea8,
    #f4eea9,
    #912200
  );
  background-size: 100%;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    #064635 75%
  );
} */

ul {
  text-align: center;
  margin-top: 0;
  padding-left: 0;
}

li {
  margin: 0.5rem auto;
  font-weight: bolder;
  list-style: none;
  font-size: 1.75rem;
}

.dk-green-bg {
  color: var(--light-secondary);
  background: var(--dark-primary);
}

/* ------ Navigation Bar ------ */

header {
  margin-bottom: 60px;
  position: fixed;
  z-index: 100;
}

#oney-logo {
  height: 2.75rem;
}

nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 1rem;
  background-color: var(--dark-primary);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-header {
  color: var(--dark-secondary);
}

.logo-accent {
  color: var(--light-secondary);
}

#hamburger {
  color: var(--light-secondary);
  font-size: 1.5rem;
}

/* ------ STACKED SELECTORS ------ */

#thai-section,
#dirty-section,
#gelato-section,
#gg4-section {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  padding-top: 2rem;
  font-family: var(--font-heading);
  line-height: 1;
}

#location h2,
#edibles-section h2,
#concentrates h2,
#prerolls h2 {
  margin-top: 0;
  text-align: center;
  font-family: var(--font-heading);
}

.location-text,
.edibles-text,
.concentrate-text,
.preroll-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
}

/* ------ Hero Container ------ */

.hero-container {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  max-width: 600px;
  margin: auto;
}

.hero-image-background {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-family: var(--font-heading);
  width: 80%;
  margin: auto;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--light-secondary);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.accent {
  color: var(--dark-secondary);
}

.hero-caption {
  display: flex;
  flex-direction: column;
  color: var(--light-secondary);
  margin-left: 2rem;
  font-size: 0.7rem;
  position: sticky;
  top: 2rem;
  align-items: flex-start;
}

.hero-caption p:first-of-type {
  font-weight: bolder;
}

.hero-caption > p {
  margin: 0;
  padding: 0;
}

#dragon-image {
  position: relative;
  top: 0.5rem;
  margin-top: 5rem;
}

/* ------ INTRO SECTION ------ */

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));
  font-size: 1.4rem;
  color: var(--dark-primary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

/* #exterior-img {
  transform: scale(1.25);
} */

.intro-accent {
  font-weight: bolder;
}

.texoma-logo {
  padding: 0 1rem;

  /* border-radius: 12px; */
  box-shadow: -9px 11px 4px rgba(0, 0, 0, 0.25);
}

.section {
  padding: 2rem 1rem;
  font-size: 1.35rem;
}

/* ------ GG4 SECTION ------ */

.award {
  text-align: center;
  font-size: 2rem;
  color: var(--light-secondary);
  margin: 0;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.award-text {
  position: sticky;
  top: 6rem;
  z-index: 2;
  padding: 0.5rem;
}

.award-img {
  z-index: 10;
  position: relative;
  top: 10px;
}

.text-box-secondary {
  background: var(--dark-secondary);
}

.strain {
  display: flex;
  text-align: center;
  font-size: 7rem;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-weight: bolder;
  color: var(--dark-secondary);
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.gg4-section img {
  z-index: 10;
  margin-top: -1rem;
}

/* ------ FLOWER TYPE SECTION ------ */

#flower-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-primary);
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));

  text-align: center;
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

.flower-type-container {
  background: var(--light-primary);
  color: var(--dark-secondary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1rem;
}

.bold {
  font-weight: bolder;
  font-size: 1.7rem;
}

#pot-leaf {
  margin: 0 auto;
  filter: invert(48%) sepia(100%) saturate(306%) hue-rotate(86deg)
    brightness(108%) contrast(50%);
}

/* ------ GELATO SECTION ------ */

.gelato {
  font-size: 6rem;
}

/* ------ OTHER PRODUCTS SECTION ------ */

#other-products {
  background: var(--light-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

#established {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  color: var(--dark-primary);
  text-align: center;
  border-radius: 12px;
}

#established span {
  font-weight: bolder;
}

/* ------ PREROLLS SECTION ------ */

#prerolls {
  background: var(--light-primary);
  color: var(--light-secondary);
}

.preroll-text span {
  font-weight: bolder;
}

/* ------ DIRTY SECTION ------ */

.first-place {
  color: var(--dark-secondary);
  text-shadow: 0 0 6px rgba(255, 255, 25, 0.9);
}

/* ------ CONCENTRATES SECTION ------ */

#concentrates {
  background: var(--light-primary);
  color: var(--light-secondary);
}

/* ------ THAI SECTION ------ */

#thai-section {
  background: linear-gradient(var(--dark-secondary), var(--light-secondary));
}

.thai-award {
  color: var(--light-primary);
}

.thai-strain {
  color: var(--dark-primary);
}

/* ------ EDIBLES SECTION ------ */

#edibles-section {
  background: var(--light-primary);
  color: var(--light-secondary);
}

/* ------ LOCATION SECTION ------ */

#location {
  background: var(--light-secondary);
  color: var(--light-primary);
}

#address {
  color: var(--dark-primary);
}

#location h2 {
  line-height: 1;
}

.location-text,
#hours {
  color: var(--dark-primary);
}

#hours {
  width: 100%;
}

#store-hrs {
  font-family: var(--font-heading);
  color: var(--dark-primary);
  font-size: 2rem;
  margin: 0 auto;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

#google-map {
  width: 100%;
}

#direction-btn {
  margin: 2rem auto;
  font-size: 1.25rem;
  color: var(--light-secondary);
  background: linear-gradient(
    45deg,
    var(--light-primary),
    var(--dark-primary),
    var(--light-primary)
  );
  padding: 0.5rem 1rem;
  border: 3px solid var(--light-secondary);
  border-radius: 12px;
  font-weight: bolder;
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#direction-btn:hover,
#direction-btn:focus {
  color: var(--dark-primary);
  background: linear-gradient(
    90deg,
    var(--dark-secondary),
    var(--light-secondary)
  );
  border-color: var(--dark-primary);
  box-shadow: 0px 0px 8px 2px rgba(93, 144, 192, 0.9);
}

#map-img {
  margin: 0 auto;
}

.highlighted-day {
  font-weight: bolder;
  color: var(--light-secondary);
  background: var(--dark-primary);
}

tbody {
  text-align: left;
  font-size: 1.1rem;
}

/* ------ FOOTER SECTION ------ */

#footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#texoma-link {
  font-size: 1.2rem;
  font-weight: bolder;
}

#texoma-link:hover {
  font-weight: normal;
  color: rgb(18, 24, 114);
  text-decoration: underline;
}

#texoma-link:visited {
  color: var(--light-primary);
}

#texoma-footer-logo {
  width: 100px;
  margin: 1rem auto 0;
}

.footer-title {
  font-family: var(--font-heading);
  color: var(--dark-secondary);
  font-size: 1.5rem;
}

.footer-icon {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--dark-secondary);
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-primary);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}

#year {
  color: var(--light-secondary);
  margin-right: 1rem;
}
.fa-copyright {
  color: var(--light-secondary);
  margin-right: 0.5rem;
}

/* ------ SPECIAL EFFECTS ------- */

/* .dark-fancy-text {
  background: linear-gradient(200deg, #ee9804, #ffea00, #ee9804, #ffea00) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* .light-fancy-text {
  background: linear-gradient(200deg, #00ce9a, #019913, #ad0404, #001885) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* ------- test for parallax scrolling ------- */

html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  -webkit-perspective: 1px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.parallax-interior {
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -1;
}

.parallax-interior::after {
  background-image: url("images/interior_photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
}

.parallax-peices {
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -1;
}

.parallax-peices::after {
  background-image: url("./images/peices.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
}

.outer-shell {
  width: 100%;
  background-color: white;
  perspective: 2px;
  -webkit-perspective: 2px;
  z-index: 1;
}

/* ------- end test for parallax scrolling ------- */
