:root {
  --font-heading: "Oswald", sans-serif;
  --font-primary: "Poppins", sans-serif;
  --dark-primary: #064635;
  --light-primary: #519259;
  --dark-secondary: #f0bb62;
  --light-secondary: #f4eea9;
}
*,
::before,
::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

section {
  max-width: 600px;
  margin: auto;
}

ul {
  text-align: left;
}

li {
  margin: 0.5rem auto;
  font-weight: bolder;
}

/* ------ Navigation Bar ------ */

header {
  margin-bottom: 60px;
  position: fixed;
  z-index: 100;
}

nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 1rem;
  background-color: var(--dark-primary);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-header {
  color: var(--dark-secondary);
}

.logo-accent {
  color: var(--light-secondary);
}

#hamburger {
  color: var(--light-secondary);
  font-size: 1.5rem;
}

/* ------ Hero Container ------ */

.hero-container {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  max-width: 600px;
  margin: auto;
}

.hero-image-background {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-family: var(--font-heading);
  width: 80%;
  margin: auto;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--light-secondary);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.accent {
  color: var(--dark-secondary);
}

.hero-caption {
  display: flex;
  flex-direction: column;
  color: var(--light-secondary);
  margin-left: 2rem;
  font-size: 0.7rem;
  position: sticky;
  top: 2rem;
}

.hero-caption p:first-of-type {
  font-weight: bolder;
}

.hero-caption > p {
  margin: 0;
  padding: 0;
}

#dragon-image {
  position: relative;
  top: 0.5rem;
  margin-top: 5rem;
}

/* ------ INTRO SECTION ------ */

#intro {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  width: 100%;
  text-align: center;
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));
  font-size: 1.4rem;
  color: var(--dark-primary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

/* #exterior-img {
  padding: 1rem;
  border-radius: 12px;
} */

.intro-accent {
  font-weight: bolder;
}

.texoma-logo {
  margin-top: 2rem;
  padding: 1rem;
  background: var(--dark-primary);
  border-radius: 12px;
  box-shadow: -9px 11px 4px rgba(0, 0, 0, 0.25);
  color: var(--light-secondary);
}

.section {
  padding: 4rem 2rem;
  font-size: 1.35rem;
}

/* ------ GG4 SECTION ------ */
#gelato-section,
#gg4-section {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  padding-top: 2rem;
  font-family: var(--font-heading);
  line-height: 1;
}

.award {
  text-align: center;
  font-size: 2rem;
  color: var(--light-secondary);
  margin: 0;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.award-text {
  position: sticky;
  top: 6rem;
  z-index: 2;
}

.award-img {
  z-index: 10;
  position: relative;
}

.gg4-text {
  padding: 0.5rem;
}

.strain {
  display: flex;
  text-align: center;
  font-size: 7rem;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-weight: bolder;
  color: var(--dark-secondary);
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.gg4-section img {
  z-index: 10;
  margin-top: -1rem;
}

/* ------ FLOWER TYPE SECTION ------ */

#flower-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-primary);
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));

  text-align: center;
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

.flower-type-container {
  background: var(--dark-primary);
  color: var(--light-secondary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1rem;
}

.bold {
  font-weight: bolder;
  font-size: 1.7rem;
}

#pot-leaf {
  margin: 0 auto;
  filter: invert(48%) sepia(100%) saturate(306%) hue-rotate(86deg)
    brightness(108%) contrast(50%);
}

/* ------ GELATO SECTION ------ */

.gelato {
  font-size: 6rem;
}

/* ------ OTHER PRODUCTS SECTION ------ */

#other-products {
  background: var(--dark-secondary);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.img {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.35), 0 0 10px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

#established {
  display: flex;
  flex-direction: column;
  background: var(--light-secondary);
  color: var(--dark-primary);
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

#established p {
  padding: 1rem;
}

#established span {
  font-weight: bolder;
}

/* ------ PREROLLS SECTION ------ */

#prerolls {
  background: var(--dark-primary);
  color: var(--light-secondary);
}

#prerolls h2 {
  margin-top: 0;
  text-align: center;
}

.preroll-text {
  background: var(--light-secondary);
  color: var(--dark-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

/* .preroll-text p {
  width: 75%;
} */

.preroll-text span {
  font-weight: bolder;
}
