:root {
  --font-heading: "Oswald", sans-serif;
  --font-primary: "Poppins", sans-serif;
  --dark-primary: #064635;
  --light-primary: #519259;
  --dark-secondary: #f0bb62;
  --light-secondary: #f4eea9;
}
*,
::before,
::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
  transition: all ease-in-out 500ms;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  height: 100%;
  font-size: 18px;
}

p {
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--dark-secondary);
}

a:visited {
  color: var(--dark-secondary);
}

section {
  max-width: 600px;
  margin: auto;
}

td {
  padding: 0.5rem;
}

tbody {
  gap: 0;
}

hr {
  border-bottom: 4px solid var(--dark-primary);
  width: 70vw;
}

ul {
  text-align: center;
  margin-top: 0;
  padding-left: 0;
}

li {
  margin: 0.5rem auto;
  font-weight: bolder;
  list-style: none;
  font-size: 1.75rem;
  color: var(--dark-secondary);
}

.dk-green-bg {
  color: var(--light-secondary);
  background: var(--dark-primary);
}

/* ------ Navigation Bar ------ */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  background: linear-gradient(
    225deg,
    var(--light-primary),
    var(--dark-primary)
  );
  align-self: flex-start;
  justify-self: flex-start;
  width: 90%;
  max-width: 400px;
  padding: 3rem 2rem 2rem;
  transition: ease-in-out 0.5s;
  right: -400px;
  z-index: 1001;
  height: 95vh;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.menu-list li {
  margin: 0;
}

.menu-open {
  right: 0;
}

.spin {
  transform: rotate(-270deg);
  transition: 1s ease-in-out;
}

.menu-link {
  font-size: 1.25rem;
  font-weight: normal;
}

.menu-link:visited {
  color: var(--light-secondary);
}

.menu-link:hover {
  color: var(--light-secondary);
  text-shadow: 0 0 4px var(--dark-secondary);
}

.menu-icon {
  margin-right: 1rem;
}

#call-btn-container {
  margin: 4rem auto 0;
  width: 100%;
  padding: 0;
}

#call-btn {
  background: var(--dark-secondary);
  display: block;
  color: var(--dark-primary);
  font-family: var(--font-heading);
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  margin: 3rem auto 0;
}

#call-btn:hover,
#call-btn:focus {
  background: var(--light-secondary);
  box-shadow: 0 0 5px 2px var(--dark-secondary);
}

#close-menu {
  font-size: 2rem;
  color: var(--dark-secondary);
  padding: 1rem;
  align-self: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  display: flex;
  z-index: 1000;
  top: 0;
  width: 100vw;
  position: sticky;
  top: 0;
}

#oney-logo {
  height: 2.75rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 1rem;
  background-color: var(--dark-primary);
  z-index: 105;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
}

.logo-header {
  color: var(--dark-secondary);
}

.logo-accent {
  color: var(--light-secondary);
}

#nav-logo-img-container {
  display: flex;
}

#hamburger {
  color: var(--light-secondary);
  font-size: 1.25rem;
}

/* ------ STACKED SELECTORS ------ */

#home-target,
#prerolls-target,
#concentrates-target,
#edibles-section-target,
#location-target {
  visibility: hidden;
  bottom: 3rem;
  background: transparent;
  position: relative;
}

#thai-section,
#dirty-section,
#gelato-section,
#gg4-section {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  padding-top: 2rem;
  font-family: var(--font-heading);
  line-height: 1;
}

#location h2,
#edibles-section h2,
#concentrates h2,
#prerolls h2 {
  margin: 0;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.location-text,
.edibles-text,
.concentrate-text,
.preroll-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 1rem;
}

.preroll-text > ul,
.concentrate-text > ul,
.edibles-text > ul {
  color: var(--dark-secondary);
}

/* ------ Hero Container ------ */

.hero-container {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  max-width: 600px;
  margin: auto;
  margin-top: 2rem;
}

.hero-image-background {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-family: var(--font-heading);

  margin: auto;
  font-size: 2.3rem;
  padding: 1rem;
  text-align: center;
  color: var(--light-secondary);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 2rem;
}

.accent {
  color: var(--dark-secondary);
}

.hero-caption {
  display: flex;
  flex-direction: column;
  color: var(--light-secondary);
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 0.7rem;
  position: sticky;
  top: 2rem;
  align-items: flex-start;
}

.hero-caption p:first-of-type {
  font-weight: bolder;
}

.hero-caption > p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.75rem;
}

/* ------ INTRO SECTION ------ */

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));
  font-size: 1.4rem;
  color: var(--dark-primary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

#exterior-img {
  margin: 1rem auto;
}

.intro-accent {
  font-weight: bolder;
}

.texoma-logo {
  padding: 0 1rem;
  margin: 2rem auto;
  box-shadow: -9px 11px 4px rgba(0, 0, 0, 0.25);
}

#texoma-link {
  font-weight: bolder;
  font-size: 1rem;
  margin-top: -1rem;
  color: var(--dark-primary);
}

#texoma-link:hover {
  font-weight: normal;
  color: rgb(18, 24, 114);
  text-decoration: underline;
}

#texoma-link:visited {
  color: var(--light-primary);
}

.section {
  padding: 2rem 1.5rem;
  font-size: 1.35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.55px;
}

/* ------ GG4 SECTION ------ */

.award {
  text-align: center;
  font-size: 1.75rem;
  color: var(--light-secondary);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 0.7;
  margin: 0;
  letter-spacing: 0.5px;
}

.award-text {
  position: sticky;
  top: 6rem;
  z-index: 2;
}

.award-img {
  z-index: 10;
  position: relative;
  top: 5px;
}

.strain {
  text-align: center;
  font-size: 6rem;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  font-weight: bolder;
  color: var(--dark-secondary);
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.gg4-section img {
  z-index: 10;
  margin-top: -1rem;
}

/* ------ FLOWER TYPE SECTION ------ */

#flower-type {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-primary);
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));
  padding: 4rem 1rem;
  text-align: center;
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

.flower-type-container {
  background: var(--light-primary);
  color: var(--dark-secondary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1rem;
}

.bold {
  font-weight: bolder;
  font-size: 1.7rem;
}

#pot-leaf {
  margin: 0 auto;
  padding: 2rem;
  filter: invert(48%) sepia(100%) saturate(306%) hue-rotate(86deg)
    brightness(108%) contrast(50%);
  width: 80%;
  max-width: 400px;
  position: absolute;
  opacity: 0.4;
}

.flower-text {
  z-index: 2;
}

/* ------ GELATO SECTION ------ */

.gelato {
  font-size: 5rem;
}

/* ------ OTHER PRODUCTS SECTION ------ */

#other-products {
  background: linear-gradient(var(--light-primary), var(--dark-primary));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  max-width: 800px;
  margin: 2rem auto;
}

#established {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-secondary);
  text-align: center;
  border-radius: 12px;
}

#established span {
  font-weight: bolder;
}

/* ------ PREROLLS SECTION ------ */

#prerolls {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  color: var(--light-secondary);
}

.preroll-text span {
  font-weight: bolder;
}

/* ------ DIRTY SECTION ------ */

.first-place {
  color: var(--dark-secondary);
  text-shadow: 0 0 6px rgba(255, 255, 25, 0.9);
}

/* ------ CONCENTRATES SECTION ------ */

#concentrates {
  background: linear-gradient(var(--light-primary), var(--dark-primary));
  color: var(--light-secondary);
}

.concentrate-text p {
  max-width: 800px;
}

/* ------ THAI SECTION ------ */

#thai-section {
  background: linear-gradient(var(--dark-secondary), var(--light-secondary));
}

.thai-award {
  color: var(--light-primary);
}

.thai-strain {
  color: var(--dark-primary);
}

/* ------ EDIBLES SECTION ------ */

#edibles-section {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  color: var(--light-secondary);
}

/* ------ LOCATION SECTION ------ */

#location {
  background: var(--light-secondary);
  color: var(--light-primary);
}

#address {
  color: var(--dark-primary);
}

#location h2 {
  line-height: 1;
  margin-top: 2rem;
}

.location-text,
#hours {
  color: var(--dark-primary);
}

.location-body {
  margin: 4rem auto 0;
}

#hours {
  max-width: 800px;
  width: 100%;
  background: var(--dark-secondary);
  margin-bottom: 3rem;
}

#store-hrs {
  font-family: var(--font-heading);
  color: var(--dark-primary);
  font-size: 2rem;
  margin: 2rem auto;
}

#google-map {
  width: 100%;
}

#direction-btn {
  margin: 4rem auto;
  color: var(--light-secondary);
  background: linear-gradient(
    45deg,
    var(--light-primary),
    var(--dark-primary),
    var(--light-primary)
  );
  padding: 0.5rem 1.25rem;
  border: 3px solid transparent;
  font-weight: bolder;
  font-size: 1rem;
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 300px;
}

#direction-btn p {
  margin: 0;
}

#direction-btn:hover,
#direction-btn:focus {
  color: var(--dark-primary);
  background: linear-gradient(
    90deg,
    var(--dark-secondary),
    var(--light-secondary)
  );
  border-color: var(--dark-primary);
  box-shadow: 0px 0px 8px 2px rgba(93, 144, 192, 0.9);
}

.highlighted-day {
  font-weight: bolder;
  color: var(--light-secondary);
  background: var(--dark-primary);
}

tbody {
  text-align: center;
  font-size: 1.1rem;
}

/* ------ FOOTER SECTION ------ */

#footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  text-align: center;
}

.footer-title {
  font-family: var(--font-heading);
  color: var(--dark-secondary);
  font-size: 1.5rem;
}

.footer-link {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
  padding: 1rem;
  background: var(--dark-secondary);
  color: var(--dark-primary);
}

.footer-link:hover {
  background: var(--light-secondary);
  border-radius: 6px;
  transform: scale(1.1);
}

.footer-link p {
  font-size: 0.6rem;
  margin: 0 auto;
  color: inherit;
  font-weight: bolder;
}

.footer-icon {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--dark-primary);
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-primary);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}

#nav-logo-img {
  height: 2.3rem;
}

.oney-logo {
  height: 1.75rem;
}

#year {
  color: var(--light-secondary);
  margin-right: 2rem;
  margin-left: 0;
  font-size: 0.75rem;
}
.fa-copyright {
  color: var(--light-secondary);
  margin-right: 0.5rem;
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

/* ------ SPECIAL EFFECTS ------- */

/* ------- start parallax scrolling ------- */
html {
  overflow: hidden;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  -webkit-perspective: 1px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.parallax-interior {
  width: 100vw;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -1;
}

.parallax-interior::after {
  background-image: url("images/interior_photo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
}

.parallax-peices {
  width: 100vw;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -1;
}

.parallax-peices::after {
  background-image: url("./images/peices.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
}

/* ------- end parallax scrolling ------- */

/* ------- MEDIA QUERIES (min-width:600px) ------- */

@media (min-width: 600px) {
  html {
    font-size: 24px;
  }

  nav {
    height: 80px;
  }

  #call-btn-container {
    display: none;
  }

  section {
    max-width: 100%;
  }

  .section {
    padding: 4rem;
  }

  #hamburger {
    margin-right: 2rem;
  }

  #nav-logo-img {
    height: 3rem;
  }

  .oney-logo {
    height: 3rem;
    width: 50%;
  }

  #dirtys-img {
    margin-top: 5rem;
  }

  .hero-container {
    max-width: 100%;
  }

  .hero-subtitle {
    padding-top: 4rem;
    font-size: 3.5rem;
    line-height: 1.3;
  }

  .hero-caption {
    margin: 4rem auto 0 3rem;
  }

  #exterior-img {
    max-width: 700px;
  }

  .award {
    font-size: 3rem;
    line-height: 1.25;
    padding: 0;
  }

  .strain {
    font-size: 8rem;
    margin: 0 auto 3rem;
  }

  .parallax-interior::after {
    background-image: url("./images/interior_desktop.webp");
  }

  #location h2,
  #edibles-section h2,
  #concentrates h2,
  #prerolls h2 {
    font-size: 4rem;
  }

  .location-text,
  .edibles-text,
  .concentrate-text,
  .preroll-text {
    padding: 3rem;
  }

  #footer-top h5 {
    font-size: 1rem;
  }
}
/* ------- END MEDIA QUERIES (min-width:600px) ------- */

/* ------- MEDIA QUERIES (min-width:900px) ------- */

@media (min-width: 900px) {
  .award {
    line-height: 1.5;
  }

  #call-btn-container {
    margin-top: 2rem;
  }

  #location p,
  #established p,
  #intro p {
    width: 60vw;
  }

  .concentrate-text p,
  .edibles-text p,
  .preroll-text p {
    font-size: 1.5rem;
  }

  .award-text {
    margin-top: 4rem;
  }

  .hero-text {
    width: 80vw;
    margin: 0 auto 2rem;
  }

  .edibles-text ul,
  #established ul,
  .preroll-text ul,
  .concentrate-text ul {
    display: flex;
    width: 75%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    padding: 1rem;
    margin: 1rem;
  }
}

/* ------- special effects start ------- */

.invisible {
  position: relative;
  opacity: 1;
  right: 0;
  transition: 0.5s ease-in-out;
  line-height: 1;
  margin: 1rem auto;
}

.fade-in {
  right: 50%;
  opacity: 0;
}

.strain {
  transition: transform 0.75s ease-in-out;
}

.flash {
  transform: scale(0.35);
  opacity: 0;
  transition: transform 0.5s ease-in;
}
