:root {
  --font-heading: "Oswald", sans-serif;
  --font-primary: "Poppins", sans-serif;
  --dark-primary: #064635;
  --light-primary: #519259;
  --dark-secondary: #f0bb62;
  --light-secondary: #f4eea9;
}
*,
::before,
::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

img {
  width: 100%;
}

section {
  max-width: 600px;
  margin: auto;
}

ul {
  text-align: left;
  margin-top: 0;
  align-self: flex-start;
}

li {
  margin: 0.5rem auto;
  font-weight: bolder;
}

/* ------ Navigation Bar ------ */

header {
  margin-bottom: 60px;
  position: fixed;
  z-index: 100;
}

#oney-logo {
  height: 2.75rem;
}

nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 1rem;
  background-color: var(--dark-primary);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-header {
  color: var(--dark-secondary);
}

.logo-accent {
  color: var(--light-secondary);
}

#hamburger {
  color: var(--light-secondary);
  font-size: 1.5rem;
}

/* ------ Hero Container ------ */

.hero-container {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  max-width: 600px;
  margin: auto;
}

.hero-image-background {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-family: var(--font-heading);
  width: 80%;
  margin: auto;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--light-secondary);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.accent {
  color: var(--dark-secondary);
}

.hero-caption {
  display: flex;
  flex-direction: column;
  color: var(--light-secondary);
  margin-left: 2rem;
  font-size: 0.7rem;
  position: sticky;
  top: 2rem;
}

.hero-caption p:first-of-type {
  font-weight: bolder;
}

.hero-caption > p {
  margin: 0;
  padding: 0;
}

#dragon-image {
  position: relative;
  top: 0.5rem;
  margin-top: 5rem;
}

/* ------ INTRO SECTION ------ */

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 3rem;
  align-items: center;
  width: 100%;
  text-align: center;
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));
  font-size: 1.4rem;
  color: var(--dark-primary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

.intro-accent {
  font-weight: bolder;
}

.texoma-logo {
  padding: 0 1rem;
  background: var(--dark-primary);
  border-radius: 12px;
  box-shadow: -9px 11px 4px rgba(0, 0, 0, 0.25);
  color: var(--light-secondary);
}

.section {
  padding: 4rem 2rem;
  font-size: 1.35rem;
}

/* ------ GG4 SECTION ------ */
#thai-section,
#dirty-section,
#gelato-section,
#gg4-section {
  background: linear-gradient(var(--dark-primary), var(--light-primary));
  padding-top: 2rem;
  font-family: var(--font-heading);
  line-height: 1;
}

.award {
  text-align: center;
  font-size: 2rem;
  color: var(--light-secondary);
  margin: 0;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.award-text {
  position: sticky;
  top: 6rem;
  z-index: 2;
}

.award-img {
  z-index: 10;
  position: relative;
}

.gg4-text {
  padding: 0.5rem;
}

.strain {
  display: flex;
  text-align: center;
  font-size: 7rem;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-weight: bolder;
  color: var(--dark-secondary);
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.gg4-section img {
  z-index: 10;
  margin-top: -1rem;
}

/* ------ FLOWER TYPE SECTION ------ */

#flower-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-primary);
  background: linear-gradient(var(--light-secondary), var(--dark-secondary));

  text-align: center;
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
}

.flower-type-container {
  background: var(--dark-primary);
  color: var(--light-secondary);
  box-shadow: 0 11px 4px inset rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1rem;
}

.bold {
  font-weight: bolder;
  font-size: 1.7rem;
}

#pot-leaf {
  margin: 0 auto;
  filter: invert(48%) sepia(100%) saturate(306%) hue-rotate(86deg)
    brightness(108%) contrast(50%);
}

/* ------ GELATO SECTION ------ */

.gelato {
  font-size: 6rem;
}

/* ------ OTHER PRODUCTS SECTION ------ */

#other-products {
  background: var(--dark-secondary);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.img {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

#established {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  background: var(--light-secondary);
  color: var(--dark-primary);
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

#established span {
  font-weight: bolder;
}

/* ------ PREROLLS SECTION ------ */

#prerolls {
  background: var(--dark-primary);
  color: var(--light-secondary);
}

#location h2,
#edibles-section h2,
#concentrates h2,
#prerolls h2 {
  margin-top: 0;
  text-align: center;
  font-family: var(--font-heading);
}

.location-text,
.edibles-text,
.concentrate-text,
.preroll-text {
  background: var(--light-secondary);
  color: var(--dark-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.preroll-text span {
  font-weight: bolder;
}

/* ------ DIRTY SECTION ------ */

.first-place {
  color: var(--dark-secondary);
  text-shadow: 0 0 6px rgba(255, 255, 25, 0.9);
}

#dirty-section .strain {
  padding-bottom: 2rem;
}

/* ------ CONCENTRATES SECTION ------ */

#concentrates {
  background: var(--light-primary);
  color: var(--light-secondary);
}

.concentrate-text {
  background: var(--light-secondary);
  color: var(--dark-primary);
}

/* .concentrate-text ul {
  padding: 0;
} */

/* ------ THAI SECTION ------ */

#thai-section {
  background: linear-gradient(var(--dark-secondary), var(--light-secondary));
}

.thai-award {
  color: var(--light-primary);
}

.thai-strain {
  color: var(--dark-primary);
}

/* ------ EDIBLES SECTION ------ */

#edibles-section {
  background: var(--dark-primary);
  color: var(--light-secondary);
}

/* ------ LOCATION SECTION ------ */

#location {
  background: var(--dark-secondary);
  color: var(--light-primary);
}

#address {
  color: var(--dark-primary);
}

#location h2 {
  line-height: 1;
}

.location-text,
#hours {
  color: var(--light-primary);
}

#store-hrs {
  font-family: var(--font-heading);
  color: var(--dark-primary);
  font-size: 2rem;
  margin: 0 auto;
  font-weight: bolder;
}

#direction-btn {
  margin: 2rem auto;
  font-size: 1.25rem;
  color: var(--dark-secondary);
  background: linear-gradient(90deg, var(--dark-primary), var(--light-primary));
  padding: 0.5rem 1rem;
  border: 3px solid var(--dark-secondary);
  border-radius: 12px;
  font-weight: bolder;
  transition: 0.5s;
}

#direction-btn:hover,
#direction-btn:focus {
  color: var(--dark-primary);
  background: linear-gradient(
    90deg,
    var(--dark-secondary),
    var(--light-secondary)
  );
  border-color: var(--dark-primary);
}

#map-img {
  margin: 0 auto;
}

.highlighted-day {
  font-weight: bolder;
  color: var(--dark-primary);
  text-shadow: 0 0 8px rgb(81, 146, 89);
  transform: scale(1.1);
}

tbody {
  text-align: left;
  font-size: 1.1rem;
}

/* ------ FOOTER SECTION ------ */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-primary);
}

#year {
  color: var(--light-secondary);
  margin-right: 1rem;
}
.fa-copyright {
  color: var(--light-secondary);
  margin-right: 0.5rem;
}
